// FONTS
$font-main: 'Google Sans', sans-serif;
$font-secondary: 'Google Sans Text', sans-serif;
$font-heading: 'Google Sans Display', sans-serif;
$font-mono: 'Google Sans Mono', sans-serif;


// COLOURS
$primary: #0c4627;
$secondary: #1da15b;

$red: #f12d2d;

$light: #f6fffa;
$light-grey: #dee2df;
$grey: #777;
$dark-grey: #555;
$dark: #333;


// MISC
$footer-height: 50px;